<div class="white-card big-card">
  <% @bookings.each do |booking| %>
    <% if booking.user = current_user %>
      <h4>Récapitulatif de votre réservation</h4>
      <p>Date de départ | <%= booking.starts_at %></p>
      <p>Date de retour | <%= booking.ends_at %></p>
      <%= link_to "Voir plus", booking_path(booking), class: "btn-purple" %>
    <% end %>
  <% end %>
</div>
