<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1671725369/development/car_video_home_page_fqfbhw.mp4" type="video/mp4">
</video>

<div class="banner-home">
  <h2>RentMe!</h2>
  <%= link_to "Commencer l'aventure", cars_path, class: "btn btn-primary" %>
</div>
