<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1671725369/development/car_video_home_page_fqfbhw.mp4" type="video/mp4">
</video>

<div class="banner-home">
  <h1><span data-controller="typed-js"></span></h1>
  <h1>Partez à l'aventure avec RentMe!</h1>
  <h2>Et profitez de la liberté offerte par la voiture</h2>
  <%= link_to "Liberté !", cars_path, class: "btn-background-purple" %>
</div>
